  {% load static %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="/" class="logo d-flex align-items-center">
            <span>Health</span>
          </a>
          <p>HealthStar is a company that helps your StartUp grow.Also Careers in your Company we help you post them..</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="facebook"><i class="bi bi-whatsapp"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="{% url 'startups' %}">Startups</a></li>
            <li><a href="{% url 'career' %}">Careers</a></li>
            <li><a href="{% url 'register' %}">Sign Up</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms & Conditions</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
            <h4>Contact Us</h4>
            <p>
              Ngong-Road Plaza <br>
              Nairobi - Kenya<br><br>
              <strong>Phone:</strong> +254 727 176 688<br>
              <strong>Email:</strong> health@gmail.com<br>
            </p>
  </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Health StartUps</span></strong>. All Rights Reserved
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->