{% extends 'base.html' %}

{% load static %}

{% block content %}
 <!-- ======= Header ======= -->
 <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">info@gmail.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+254 727 176 688</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-whatsapp"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Health<span>Star*</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
         <li><a href="{% url 'startup' %}" class="bi bi-plus">StartUps</a></li>
          <li><a href="{% url 'index' %}" class="bi bi-plus">Upload Startup</a></li>
          <li><a href="{% url 'jobs' %}" class="bi bi-plus-circle">Post Job</a></li>
          <li><a href="{% url 'login' %}" class="bi bi-plus-circle">LogOut</a></li>
          </ul>
      </nav><!-- .navbar -->

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->
  <!-- End Header -->
<style>
    .container-form form{
        margin-left: 30px;
        background-color: whitesmoke;
        width: 60%;
    }
    @media (max-width: 375px) {
    .container-form .form-group{
        width: 100%;
    }}
</style>
<main id="main">
    <section class="section">
    <div class="container-form">
        <h2>Upload Your StartUp</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Upload</button>
        </div>
    </form>
    </div>
    </section>
  </main><!-- End #main -->
{% include 'footer.html' %}

{% endblock %}