
<!DOCTYPE html>
{% load static %}
<html lang="en-us" dir="ltr">
<head>
<title>Log in | Django site admin</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/login.css">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>
<style>
  .login{
    background-image:url("{%static 'img/breadcrumbs-bg.jpg' %}");
    background-size:cover;
  }
</style>
<body class=" login"
  data-admin-utc-offset="0" style="background-color: #008374;">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/">Welcome To HealthStar</a></h1>

        </div>
        
        
    </div>
    <!-- END Header -->

    <div class="main shifted" id="main">
      
      <div class="content">
        <!-- Content -->
        <div id="content" class="colM">
<div id="content-main">

<form action="" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="ArS6ow0FQP9WYLbzAcnQAD3lRQRO2FQkQXsLcHTSDuyIiusJRjHcfBDuTJm4TOLR">
  {% csrf_token %}
    <div class="form-row">
    <label class="required" for="firstname">First Name:</label> <input type="text" name="firstname" autofocus autocapitalize="none" autocomplete="firstname" maxlength="150" required id="id_username" id="id_username">
  </div>
  <div class="form-row">
    <label class="required" for="lastname">Last Name:</label> <input type="text" name="lastname" autofocus autocapitalize="none" autocomplete="lastname" maxlength="150" required id="id_username">
  </div>
  <!-- <div class="form-row">
    <label class="required" for="username">User Name:</label> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
  </div> -->
  <div class="form-row">
    <label class="required" for="email">Email:</label> <input type="email" name="email" autofocus autocapitalize="none" autocomplete="email" maxlength="150" required id="id_username">
  </div>
  <div class="form-row">
    <label class="required" for="phone">Phone Number:</label> <input type="number" name="mobile" autofocus autocapitalize="none" autocomplete="phone" maxlength="150" required id="id_username">
  </div>
  <div class="form-row">
    <label class="required" for="id_password">Password:</label> <input type="password" name="password" autocomplete="current-password" required id="id_password">
    <input type="hidden" name="next" value="/admin/">
  </div>
  <div class="submit-row">
    <input type="submit" value="Sign Up">
  </div>
  <h4>Already have an Account? <a href="{% url 'login' %}"> Log In</a></h4>
</form>

</div>
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
